
.blogpost-img-container {
    padding: 0 2.5em 2.1em;
    max-width: 100%;

}

.blogpost-img-container img {
    width:98%;
}

.blogpost-main-container h3{
    padding-bottom:1.2em;
    font-weight: 700;
    text-align:left;
    border-bottom: 1px solid #cdd2da;

}

.container-news p {
    font-size:1.56em;
}

.container-news a{
    display: -ms-flexbox;
    font-size:inherit;
    text-decoration: underline solid #47fcac .12em;
    color:inherit;
}

.mummy{
    margin-left:5%;
}

.container-news h6{
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 2em;
}

.container-news a:hover{
    font-style: italic;
}

.blogpost-main-container article h1 {
    font-size: 2.3em;
}

.contact-main-container {
    width:100%;
    min-height: 12em;
    background-color: #e6e9ed;
    text-align:center;
    padding:3em;
}

.contact-main-container div{
    display: inline-block;
    width:48.89%;
    height:100%;
}

.contact-main-container div a {
    border-bottom: 1px solid #000;
    padding-bottom:5px;

}

.contact-main-container div img {
    width:9em;
}

.contact-main-container .contact-left, .contact-right {
    text-align: initial;
    margin-top: 3em;
}
