/* Sign options */

ul.sign-options__ul
{
   margin : auto;

   margin-top  : 1.2rem;
   padding-top : 1rem;

   text-align : center;

   user-select : none;
}


ul.sign-options__ul>li.sign-option__li
{
   margin-top: 1.2rem;
   margin-bottom: 1.2rem;

   list-style-type: none;
}



ul.sign-options__ul>li.sign-option__li::marker
{
   display:none;
   background-color: rgba(0,0,0,0);
}


/* Registration Form */
form.sign-account__form
{
   margin : auto;
   padding-bottom : 3rem;
   display : block;
   width  : 500px;
   min-height : 380px;
   height : max-content;
   padding-top : 12rem;

   text-align: center;
   border-radius : 40px;
   /*background : rgb(0,32,96);*/
   background: linear-gradient(180deg, rgba(0, 32, 96, 1) 67%, rgb(26 65 75) 122%);
   font-family: "Poppins-Regular";
}

/* Sign up */
form.sign-account__form>p:nth-child(5)>a
{
   color       : var(--default);
   font-family : "Poppins-Bold";
   cursor : pointer;
}
form.sign-account__form>p:nth-child(5)
{
   width     : 385px;
   height    : 30px;
   max-width : 380px;
   margin : auto;
   font-family : "Poppins-Medium";
   font-size   : 1.4rem;
   font-weight : 400 ;
}

/* Forgot password? */
form.sign-account__form>a:nth-child(3)
{
   display     : block;
   color       : var(--aqua);
   font-family : "Poppins-Medium";
   font-size   : 1rem;
   text-decoration: underline;
   cursor : pointer;
}


form.sign-account__form>input
{
   width  : 332px;
   height : 25px;
   margin : auto;
   padding : 15px 15px 15px 15px;
   display : block;
   border-color : transparent;
   font-weight  : 100;
   font-family  : "Poppins-Medium";
   font-size    : 1.2rem;
}

form.sign-account__form>input::placeholder
{
   color       : var(--deep-blue);
   font-family : "Poppins-Regular";
   font-weight : 200;
   font-size   : 1.2rem;
}

form.sign-account__form>input.new-account-field__input:nth-child(1),
form.sign-account__form>input:nth-child(1)
{
   border-radius : 23px 23px 0 0;
   background    : var(--default);
}

form.sign-account__form>input.new-account-field__input:nth-child(2)
{
   border-radius : 0;
   margin-bottom : 0.2rem;
}

form.sign-account__form>input.new-account-field__input:nth-child(4)
{
   margin-top    : 3px;
   margin-bottom : 1rem;
   border-radius : 0 0 23px 23px;
   background : var(--default);
}

form.sign-account__form>input:nth-child(2)
{
   margin-top    : 3px;
   margin-bottom : 1rem;
   border-radius : 0 0 23px 23px;
   background : var(--default);
}


button.generic-blue__button
{
   padding : 9px 12px;
   margin  : 40px 0 38px 0;
   width : max-content;
   border        : none;
   border-radius : 30px;
   background-color : var(--aqua);
   color : var(--deep-blue);
   font-family : "Poppins-Medium";
   font-size   : 1.4rem;
   font-weight : 300;
   cursor : pointer;
}



form.new-account__form
{
   margin: auto;
   margin-top: 1.3rem;

   padding-top: 2rem;

   text-align:center
}

form.new-account__form>input,
form.new-account__form>button
{
   margin:auto;
   margin-top: 1.2rem;

   padding-top: 7px;
   padding-bottom: 3px;

   display:block;

   border-radius: 5px 7px 4px 4px;
   font-family: "Poppins-Regular";
}

/* Record options */

ul.record-types__ul
{
   margin : auto;

   margin-top  : 1.2rem;
   padding-top : 1rem;

   text-align : center;

   user-select : none;

   list-style-type : none;
}

ul.record-types__ul>li.record-type__li
{
   list-style-type : none;

   margin-top    : 1.1rem;
   margin-bottom : 1.1rem;
}



@media (width : 430px) and (height : 932px )
{
   ul.record-types__ul
   {
      padding-top : 1rem;
      padding-left : 0;
      font-style : italic;
   }
}