@font-face
{
   font-family: 'Poppins-Regular';
   src: url("../static/Poppins-Regular.ttf");
}

@font-face
{
   font-family : "Poppins-Medium";
   src         : url("../static/Poppins-Medium.ttf");
}

@font-face
{
   font-family : "Poppins-Bold";
   src         : url("../static/Poppins-Bold.ttf");
}


:root
{
   scrollbar-color : #002060 #003344;
}

body
{
   margin : 0;

   padding : 0px 0px;

   width  : 100%;
   height : max-content;
   min-height : 100%;

   /* Custom variables */

   --gradient-a-background : rgb(4, 18, 52);
   --gradient-b-background : rgba(4, 18,52);
   --gradient-c-background : rgb(2, 56, 81);
   --default    : rgb(240,240,240);
   --deep-blue  : #002060;
   --aqua       : #A1ECFF;

   /* end */


   background : linear-gradient(180deg, var(--gradient-a-background) 10%, var(--gradient-b-background) 35%, var(--gradient-c-background) 100%);

   font-family : 'Poppins-Regular';

   color       : var(--default);
}

/*
 * Variables:
 * brand logo height
 * brand div margin top bottom
 * nav bar margin top bottom
 * */

img.brand-logo__img
{
   /*Do not make the asumption that the parent could have user-selec:none*/

   --min-dimension-width  : calc(881px/4);
   --min-dimension-height : calc(187px/4);

   --normal-dimension-width : 1045px;
   --normal-dimension-height : 177px;

   margin        : auto;
   margin-bottom : 0.7rem;

   min-width  : var(--min-dimension-width);
   min-height : var(--min-dimension-height);

   width  : var(--normal-dimension-width);
   height : var(--normal-dimension-height);

   display : block;

   backdrop-filter         : none;
   -webkit-backdrop-filter : none;

   user-select : none;
}

q.welcome-quote__q
{
   quotes : none;
   color  : var(--aqua);

   font-family : "Poppins-Medium";
   font-weight : 500;
   font-size   : 3rem;
}

q.brand-quote__q>b
{
   color       : var(--default);
   font-weight : bold;
}

q.brand-quote__q
{
   quotes : none;

   margin-top    : 1rem;
   margin-bottom : 1.2rem;

   margin-left  : 0px;
   margin-right : 0px;

   max-width : 1200px;

   display : inline-block;

   color     : var(--aqua);
   font-size : 3rem;
}

q.generic-quote__q
{
   quotes : none;

   margin        : auto;

   margin-top    : 4.5rem;
   margin-bottom : 4.5rem;

   max-width : 1200px;

   display : block;

   color     : var(--aqua);
   font-family: "Poppins-Bold";
   font-size : 3rem;
}

div.brand-band__div
{
   height : 74vh;

   margin       : auto;
   margin-left  : 0;
   margin-right : 0;

   position : relative;

   padding-top    : 1.4rem;
   padding-left   : 0.2rem;
   padding-bottom : 0.52rem;

   align-content : center;
   text-align    : center;

   user-select: none;
}

/* Navigation bar */

nav.generic-nav-bar__nav
{
   margin-top    : 1rem;
   margin-bottom : 2rem;

   padding-left  : 1.5rem;

   text-align : left;

   user-select : none;

   font-family : "Poppins-Regular";

   background-color : transparent;
}

nav.generic-nav-bar__nav>button.panel-option__button
{
   margin         : 0 3rem 0 3rem;
   padding-top    : 4px;
   padding-bottom : 2px;


   border : none;

   color       : var(--default);
   font-weight : 100;
   font-size   : 1.8rem;

   background-color: transparent;
}

nav.generic-nav-bar__nav>button.panel-option__button:hover
{
   cursor : help;
}

nav.generic-nav-bar__nav>button.generic-blue__button
{
   padding : 15px 14px;

   width   : max-content;

   border-radius : 30px;

   background-color : var(--aqua);

   color : var(--deep-blue);

   font-size   : 1.4rem;
   font-weight : 200;

}

nav.generic-nav-bar__nav>button.generic-blue__button:hover
{
   cursor : pointer;
}

main.information__main
{
   height    : max-content;
   min-height: 100vh;

   padding-top  : 1.5rem;
   padding-left : 2rem;

   padding-right  : 2rem;
   padding-bottom : 1.8rem;

   margin : auto;
}

/* Generic elements */

button.blue-button
{
   border-radius : 8px 8px;

   background-color : var(--aqua);
}

@media (min-width = 560px) and (min-height = 1020px)
{
}