aside.home-left__aside, aside.home-right__aside
{
   height  : max-content;
}

aside.home-left__aside
{
   float : left;
   max-width   : 948px;
   color       : var(--aqua);
   font-family : "Poppins-Bold";
   font-size   : 1.8rem;
   text-align  : center;
}

aside.home-right__aside
{
   float : right;
   max-width   : 50%;
   padding-right : 10px;
   color       : var(--default);
   font-family : "Poppins-Regular";
   font-size   : 2.2rem;
   text-align  : right;
}

aside.home-right__aside>p
{
   max-width: 720px;
   box-sizing: border-box;
}

aside.home-left__aside>p
{
   max-width : 300px;
}

article.home__article
{
   width  : 100%;
   height : 118vh;

   margin  : 1rem 0 1rem 0;
   padding : 0;
   text-align : right;
   user-select: none;
}

span.globe-decoration__span
{
   max-width: 400px;
   height: max-content;

   display: inline-block;
}

span.globe-decoration__span>img
{
   position: absolute;
   width    : 370px;
   height   : 348px;
   display : inline;
}

span.globe-decoration__span>p
{
   position:absolute;
}

/* Recuerdos */
span.globe-decoration__span:nth-child(2)>img
{
   top : 123%;
   left : 14%;
   width    : 277px;
   height   : 258px;
   display : inline;
}
span.globe-decoration__span:nth-child(2)>p
{
   top  : 131.5%;
   left : 17.1%;
}

/* Acompañamiento */
span.globe-decoration__span:nth-child(3)>img
{
   top  : 138%;
   left : 28%;
   width    : 321px;
   height   : 302px;
   display : inline;
}
span.globe-decoration__span:nth-child(3)>p
{
   top  : 148.99%;
   left : 30.3%;

   font-size : 1.6rem;
}

/* Tecnologia */
span.globe-decoration__span:nth-child(4)>img
{
   top  : 158%;
   left : 8%;
   display : inline;
}
span.globe-decoration__span:nth-child(4)>p
{
   top  : 171.2%;
   left : 12.8%;
   font-size : 2.1rem;
}

p.home-router__p
{
   color : var(--aqua);
   font-family: "Poppins-Bold";
   font-weight: 200;
   font-size  : 1.4rem;
}

p.home-router__p>b
{
   color : var(--default);
}

button.call-to-action__button
{
   margin     : auto;
   margin-top : 2rem;
   display : block;
   width     : max-content;
   max-width : 300px;
}