/*Imports*/

@import url('header.css');
@import url('news.css');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap');


.home-main {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr; 
    height:100%;
    background-image: url('../assests/img/cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.home-main section {
    display:grid;
    grid-column: 2;
    justify-items: center;
    height: 10em;
    margin-top:3.28em;
}

.home-main-tittle {
    font-size:2em;
    font-weight:700;
    font-family: 'Roboto mono', monospace;
    letter-spacing: 0.0599em;
    text-align:center;
    color:#eee;
}

.home-main-button{
    display:grid;
    align-items:center;
    border-style: none;
    width: 6.7em;
    height:3.5em;
    background:#47cfac ;
}


.home-main-button a{
    font-weight: 700;
    font-size: 1.3em;
}