.profile-main-container {
    padding: 3.4em 2.3em;
    background-color: #e6e9ed;
    margin-bottom: 2.55em;
}

.profile-main-container img {
    width:24em;
    margin-right:1.9em;
}

.profile-main-container .profile-container {
    display:flex;
}

.profile-main-projects {
    padding:0 2.3em 1.9em;

}

.profile-main-projects h3 {
    border-bottom:1px solid #cdd2da;
    padding-bottom:1.3em;
    text-align:center;
}

.project-main-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
}

.project-container {
    text-align:left;
    padding: 0.2em 1.2em;
}