
body
{
   margin  : 0;
   padding : 0;

   --lesser-black: rgba(10,10,10, 95%);
   --terminal-green : rgba(100,244,178, 98%);
   background-color : var(--lesser-black);
}

.terminal-prompter
{
   font-size : 2.5rem;
}

section.terminal-prompt
{
   width  : 100%;
   height : max-content;

   font-size : 2.5rem;
}

p.terminal-name
{
   display : inline-block;
   color : var(--terminal-green);
}
