






















    





.box-text{
    display: inline-block;
    box-sizing: border-box;
    width: 8.99em;
    height: 3.15em;
    text-align: center;
    font-size: 1.87em;
    font-weight: 500;
    font-family:'Comic Sans';
    color:#222;
    background:linear-gradient(to top, #EEAC13 15%,#FEC440);
    border: solid #D68A3B ;
    border-radius: 41.444px; 
}
.sqr_1{
    position:absolute;
    padding-top: .67em;
    top:4.4em;
    left: 2.7em;
}

.sqr_2{
    position: absolute;
    padding-top: .47em;
    top:1.72em;
    right: 12.73em;
}

.sqr_3{
    position: absolute;
    padding-top: .67em;
    top:.45em;
    right: 1.86em;
}