/* Sign options */

ul.sign-options__ul
{
   margin : auto;

   margin-top  : 1.2rem;
   padding-top : 1rem;

   text-align : center;

   user-select : none;
}


ul.sign-options__ul>li.sign-option__li
{
   margin-top: 1.2rem;
   margin-bottom: 1.2rem;

   list-style-type: none;
}



ul.sign-options__ul>li.sign-option__li::marker
{
   display:none;
   background-color: rgba(0,0,0,0);
}


/* Registration Form */

form.sign-account__form
{
   margin:auto;
   padding-bottom: 1rem;
   padding-top: 2rem;

   height: 8.5rem;
}

form.sign-account__form>input,
form.sign-account__form>button
{
   margin:auto;
   margin-top: 1.2rem;

   padding-top: 7px;
   padding-bottom: 3px;

   display:block;

   border-radius: 5px 7px 4px 4px;

}

form.new-account__form
{
   margin: auto;
   margin-top: 1.3rem;

   padding-top: 2rem;

   text-align:center
}

form.new-account__form>input,
form.new-account__form>button
{
   margin:auto;
   margin-top: 1.2rem;

   padding-top: 7px;
   padding-bottom: 3px;

   display:block;

   border-radius: 5px 7px 4px 4px;
}

/* Record options */

ul.record-types__ul
{
   margin : auto;

   margin-top  : 1.2rem;
   padding-top : 1rem;

   text-align : center;

   user-select : none;

   list-style-type : none;
}

ul.record-types__ul>li.record-type__li
{
   list-style-type : none;
}

@media (width : 430px) and (height : 932px )
{
   ul.record-types__ul
   {
      padding-top : 1rem;
      padding-left : 0;
      font-style : italic;

   }
}