@font-face
{
   font-family: 'Rubik';
   src: url("../static/Rubik-Italic-VariableFont_wght.ttf");
}

body
{
   margin : 0;

   padding : 0px 0px;

   width: 100vw;
   height: 100%;

   /* Custom variables */

   --main-background-color : rgba(50,115,192,0.6) ;

   background-color: var(--main-background-color);

   font-family: 'Rubik';
}

/*
 * Variables:
 * brand logo height
 * brand div margin top bottom
 * nav bar margin top bottom
 * */

img.brand-logo
{
   /*Do not make the asumption that the parent could have user-selec:none*/

   --min-dimension-width : calc(881px/4);
   --min-dimension-height : calc(187px/4);

   margin        : auto;
   margin-bottom : 0.7rem;

   width  : var(--min-dimension-width);
   height : var(--min-dimension-height);

   display : block;

   backdrop-filter         : none;
   -webkit-backdrop-filter : none;

   user-select : none;
}

q.brand-quote__q
{
   backdrop-filter         : none;
   -webkit-backdrop-filter : blur(0px);

   filter         : none;
   -webkit-filter : none;
}

div.brand-band__div
{
   margin       : auto;
   margin-left  : 3px;
   margin-right : 3px;

   position : relative;

   padding-top    : 0.35rem;
   padding-left   : 0.2rem;
   padding-bottom : 0.52rem;

   align-content : center;
   text-align    : center;

   border-radius : 4px;
   box-shadow    : 0 4px 90px rgba(0.0, 0.0, 0.0, 0.2);

   user-select: none;
}

/*div.brand-band__div::before
{
   content : "";

   width   : 100%;
   height  : 100%;

   position : absolute;
   backdrop-filter : blur(10px);
}*/

/*div.brand-band__div:not(q)
{
   backdrop-filter: blur(10px);
}*/

/* Navigation bar */

nav.generic-nav-bar__nav
{
   margin-top: 1rem;
   margin-bottom: 2rem;

   text-align:center;

   user-select: none;
}

nav.generic-nav-bar__nav>button.panel-option__button
{
   padding-top: 4px;
   padding-bottom: 2px;

   border: none;

   font-size : 16px;
   text-decoration: underline;
   background-color: transparent;
}


/* Take the difference between the total screen and the nav bar plus the brand*/
main.information__main
{
   height    : max-content;
   min-height: 100vh;

   padding-top  : 1.5rem;
   padding-left : 2rem;

   padding-right  : 2rem;
   padding-bottom : 1.8rem;

   margin : auto;

   border-radius : 5px;
   box-shadow    : 1px 5px 90px rgba(0.0, 0.0, 0.0, 0.3);

   /*backdrop-filter: blur(18px);*/
}