
video-record
{
   text-align : center;
}

div.video-record-actions__div
{
   margin : auto;
   user-select : none;
}


video.record-screen__video
{
   margin : auto;

   width  : 640px;
   height : 480px;
}
